#!/usr/bin/env bash

export JWKS_URI=
export AUTH0_AUDIENCE=
export AUTH0_ISSUER=

export REACT_APP_AUTH0_CLIENT_ID=${AUTH0_AUDIENCE}
export REACT_APP_AUTH0_DOMAIN=
export REACT_APP_REDIRECT_URL=
export REACT_APP_TITLE=
