<div id="task-list">
    <ul>
        {{#each tasks}}
            <li>{{ this }}</li>
        {{/each}}
    </ul>
</div>
<form action="/" method="post">
    <input type="text" id="new-task-name" name="new-task-name"/>
    <button id="add-task-button">Add Task</button>
</form>