<div class="container">
    <h2 class="text-center">Shnoodo List</h2>
    <form action="/" method="post" class="form-inline">
        <input type="text" id="new-task-name" name="new-task-name" placeholder="Task"/>
        <button id="add-task-button" class="btn btn-primary">Add Task</button>
    </form>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Task Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each tasks}}
            <tr>
                <td>{{ this }}</td>
                <td align="right">
                    <form action="">
                        <button class="btn btn-danger remove-button">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
