<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Shnoodo List</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="/" method="post">
                <div class="form-row my-2 align-items-center">
                    <div class="col">
                        <input type="text" class="form-control mb-2 mb-sm-0" id="new-task-name" name="new-task-name"
                               placeholder="Task Name">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary" id="add-task-button">Add Task</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Task Name</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {{#each tasks}}
                    <tr>
                        <td>{{ this }}</td>
                        <td align="right">
                            <form action="">
                                <button class="btn btn-danger remove-button">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
